/* body{
    margin: 0;
    padding: 0;
    /* background:linear-gradient(135deg, #dbeafe, #dbeafe); */
    background-color:	#F5FFFA;
    /* background-color:#d7eef6; */
    /* background-color:#def0f6 ; */
} */



